html {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

body {
    background-color: rgb(216,216,216);
}

header {
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    height: 2rem;
    margin-left: 1.5rem;
}

.logo p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(85, 85, 85);
}

.logo p span {
    font-weight: 400;
    color: rgb(187, 187, 187);
}

.logo img {
    height: 120%;
}

header nav ul {
    display: flex;
    margin-right: 1.5rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    color: rgb(85, 85, 85);
}

header nav ul li {
    margin-left: 1rem;
    flex-shrink: 0;
}

.free-space {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    margin: 0 1.5rem;
}

.banner {
    position: relative;
    top: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.banner img {
    width: 60%;
    height: auto;
    margin: 2rem 1.5rem;
}

.banner .text-box {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(85, 85, 85);
    margin-bottom: 2rem;
    flex-shrink: 0;
}

.big-text {
    
    font-size: 3rem;
    margin-bottom: 2rem;
}

.small-text {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.button {
    background-color: rgb(85, 85, 85);
    color: white;
    font-weight: normal;
    border-radius: 0.2rem;
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;

    transition: all 250ms ease-in;
}

.button:hover {
    color: rgb(85, 85, 85);
    box-shadow: 0 0 0 2px rgb(85, 85, 85);
    background-color: white;
}

